/* HomePage.css */
.home-page {
    padding: 20px;
    background-color: #333333;
}

.product-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin: auto;
}

.product-item {
    flex: 1 1 calc(20% - 20px); /* Ajusta el tamaño para 5 columnas */
    box-sizing: border-box; /* Asegura que el padding y el border no afectan el ancho total */
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination-button {
    background-color: #333;
    color: beige;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button.active,
.pagination-button:hover {
    background-color: #555;
}
