/* HomePage.css */
.home-page {
    padding: 20px;
    background-color: white;
    position: relative; /* Asegura que los elementos hijos se posicionen en relación a este contenedor */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto completo de la ventana */
}

.product-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin: auto;
}

.product-item {
    flex: 1 1 calc(20% - 20px); /* Ajusta el tamaño para 5 columnas */
    box-sizing: border-box; /* Asegura que el padding y el border no afectan el ancho total */
    cursor: pointer;
}

/* Estilo para los botones de paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    border: 1px solid #C12D2D;
    background-color: #fff;
    color: #C12D2D;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #C12D2D;
    color: #fff;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination .active {
    background-color: #C12D2D;
    color: #fff;
}
