/* ProductDetailPage.css */

.product-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #6D6D6C;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative; /* Posición relativa para el contenedor del producto */
}

.product-detail-container {
    max-width: 1200px;
    width: 100%;
    min-height: 50vh;
    background: #6D6D6C    ;
    border-radius: 12px;
  
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    position: relative; /* Asegura que el LoadingScreen se posicione sobre él */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Asegura que haya espacio interno en el contenedor */
}
