.user-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #333;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative; /* Posición relativa para el contenedor del producto */
}

.buttonModificar{
    color: beige; /* Color de letra del botón */
    background-color: #555; /* Color del background botón */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Ajustado a 25px */
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block; /* Para que el padding y el tamaño funcionen */
    margin-left: 10px; /* Separación entre botones */
    text-align: center; /* Centra el texto dentro del enlace */
}

.buttonModificar:hover{
    background-color: #777;
}

.user-profile-container {
    max-width: 800px;
    width: 100%;
    min-height: 50vh;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    padding: 20px;
    position: relative; /* Asegura que el LoadingScreen se posicione sobre él */
    margin: 0 auto;
}

.error-message {
    color: #f44336;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.profile-and-products {
    display: flex;
    flex-direction: column; /* Cambiado a columna para centrar todo */
    align-items: center; /* Centra el contenido */
    flex-grow: 1;
    width: 100%;
}

.profile-content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Cambiado a columna para centrar el contenido */
    align-items: center; /* Centra el contenido */
}

.user-products-section {
    margin-top: 50px;
    width: 100%;
    text-align: center; /* Centra el texto */
}

.tituloproductos {
    margin: 0; /* Elimina el margen de izquierda */
    color: beige;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los productos */
    gap: 1rem;
}

.no-products-message {
    font-size: 18px;
    color: #757575;
}

.buttonEliminar{
    color: beige; /* Color de letra del botón */
    background-color: #555; /* Color del background botón */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Ajustado a 25px */
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block; /* Para que el padding y el tamaño funcionen */
    margin-left: 10px; /* Separación entre botones */
    text-align: center; /* Centra el texto dentro del enlace */
}

.buttonEliminar:hover{
    background-color: #777;
}
