/* src/components/ChatHeader.css */
.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #C12D2D;
    background-color: #fff;
    border-radius: 40px;
    gap: 10px; /* Espacio entre los elementos */
}

.chat-header-product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.chat-header-product-info {
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    align-items: center; /* Alinea verticalmente el título del producto */
}

.chat-header-product-title {
    margin: 0;
    font-size: 1.2em;
    color: black;
    text-align: left; /* Alinea el texto a la izquierda */
}

.chat-header-buttons {
    display: flex;
    gap: 10px;
}

.button-entregado,
.button-reservar {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-entregado {
    background-color: #C12D2D;
    color: #fff;
}

.button-reservar {
    background-color: #fff;
    color: #C12D2D;
    border: 2px solid #C12D2D ;
}

.button-entregado:hover {
    background-color: #fff;
    color: #C12D2D;
}

.button-reservar:hover {
    background-color: #C12D2D;
    color: #fff;
}

.button-disabled {
    background-color: #C12D2D;
    color: #fff;
    cursor: not-allowed;
}
