/* Footer.css */
.footer {
    background-color: #ffffff;
    color: #C12D2D;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    border-bottom: 2px solid #C12D2D;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #C12D2D;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #6D6D6C
    ;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #6D6D6C
    ;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-icon {
    color: #6D6D6C
    ;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #6D6D6C
    ;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #6D6D6C
    ;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #6D6D6C
    ;
}
