header {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; /* Background del header */
    color: white;
    border-bottom: 2px solid #C12D2D;
}

.swaply {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoLink {
    display: inline-block;
    padding: 0; /* Elimina cualquier padding extra */
    margin: 0;  /* Elimina cualquier margen extra */
    
  
}

.swaplyLogo {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantén la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como un bloque dentro del enlace */
}

.barra {
    flex: 1.5; /* Ocupa más espacio que antes */
    margin: 0 20px; /* Añade un margen a la barra de búsqueda */
    background-color: rebeccapurple;
}

.buttonHeader {
    color: beige; /* Color de letra del botón */
    background-color: #555; /* Color del background botón */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Ajustado a 25px */
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block; /* Para que el padding y el tamaño funcionen */
    margin-left: 10px; /* Separación entre botones */
    text-align: center; /* Centra el texto dentro del enlace */
}

.buttonAltaProducto {
    color: white; /* Color de letra del botón */
    background-color: #C12D2D; /* Color del background botón */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Ajustado a 25px */
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block; /* Para que el padding y el tamaño funcionen */
    margin-left: 10px; /* Separación entre botones */
    margin-right: 10px; /* Separación entre botones */
    text-align: center; /* Centra el texto dentro del enlace */
}

.buttonHeader:hover {
    background-color: #777;
}

.botones {
    display: flex;
    align-items: center;
}

.user-info-header {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.user-profile-image-header {
    border-radius: 50%; /* Imagen circular */
    width: 40px; /* Tamaño de la imagen */
    height: 40px; /* Tamaño de la imagen */
    margin-right: 10px; /* Separación entre imagen y nombre de usuario */
}

.username-header {
    color: #C12D2D;
    margin: 0;
    font-weight: bold;
}
