/* LoadingScreen.css */

.loading-screen-container {
    position: absolute; /* Asegúrate de que esté posicionado relativamente al contenedor padre */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333; /* Fondo semitransparente para mayor contraste */
    backdrop-filter: blur(8px); /* Desenfoque del fondo */
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    border-radius: 12px; /* Opcional: borde redondeado para un acabado más suave */
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%; /* Ocupa el 100% de la altura del contenedor padre */
    width: 80%;  /* Ocupa el 100% de la anchura del contenedor padre */
    background: #333333; /* Fondo blanco para el contenedor del spinner y el texto */
    border-radius:0px; /* Borde redondeado para un acabado más suave */
    padding: 20px; /* Espacio interno */
}

.spinner {
    border: 16px solid rgba(0, 0, 0, 0.1); /* Fondo del spinner en color gris claro con transparencia */
    border-top: 16px solid #F5F5DC; /* Color de la parte superior del spinner en gris oscuro */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite; /* Animación de rotación */
    margin-bottom: 20px; /* Espacio debajo del spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-screen p {
    font-size: 18px;
    color: #F5F5DC; /* Color del texto en gris oscuro */
    margin: 0;
    font-weight: 600; /* Hacer el texto un poco más destacado */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Sombra ligera para resaltar el texto */
}
