body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

.navbar {
    background-color: white; /* Color corporativo principal */
    padding: 10px 20px;
    color: #FFFFFF; /* Color de texto blanco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; /* Centrar el contenedor de botones en la pantalla */
    border-bottom:2px solid #C12D2D ;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido dentro del contenedor */
    width: 100%;
    max-width: 800px;
}

.toggle-desplegable {
    cursor: pointer;
    background: none;
   
    color: #FFFFFF; /* Color de texto blanco */
    padding: 8px 16px; /* Tamaño más pequeño del botón */
    background-color: #6D6D6C; /* Color secundario */
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrar el texto */
    height: 36px; /* Altura del botón más pequeña */
    display: flex; /* Utilizar flexbox para centrar el contenido verticalmente */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    margin: 0 8px; /* Margen lateral más pequeño */
    flex: 1; /* Permitir que los botones crezcan para llenar el espacio */
    min-width: 140px; /* Tamaño mínimo ajustado */
   

}

.toggle-desplegable:hover {
     /* Color principal en hover */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /* Centrar los botones dentro del contenedor */
    align-content: center; /* Centrar los botones verticalmente */
    width: 100%;
}

.nav-button,
.button-active {
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    padding: 8px 16px; /* Tamaño más pequeño del botón */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1; /* Permitir que los botones crezcan y se reduzcan de tamaño según el espacio disponible */
    min-width: 140px; /* Tamaño mínimo ajustado */
    height: 36px; /* Altura del botón más pequeña */
    margin: 0 8px; /* Margen lateral más pequeño */
    text-align: center; /* Centrar el texto dentro del botón */
    display: flex; /* Utilizar flexbox para centrar el contenido verticalmente */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

/* Color de fondo específico para nav-button y button-active */
.nav-button {
    background-color: #6D6D6C; /* Color secundario */
    color: #FFFFFF; /* Color de texto blanco */

}
.nav-button:hover{
    background-color: #C12D2D;
}

.button-active {
    background-color: #C12D2D; /* Color principal */
    color: #FFFFFF; /* Color de texto blanco */
}

/* Hover común para ambos botones */
.nav-button:hover,
.button-active:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Mantener el color de fondo igual al estado no hover */
}

.desplegableOpcion {
    cursor: pointer;
    border: none;
}

/* Enlace dentro del botón */
.nav-button a {
    text-decoration: none;
    color: #FFFFFF; /* Color de texto blanco */
    display: block;

}

.desplegable {
    position: relative;
    display: inline-block;
    
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #C12D2D; /* Color secundario */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 8px; /* Bordes redondeados */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px); /* Mejor efecto de deslizamiento */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 9999;
    overflow: hidden; /* Asegura que no haya bordes visibles fuera del área */
}

.desplegable.abierto .menu-desplegable {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    border: none;
}

.menu-desplegable li {
    padding: 0;
    border:none;
}

.menu-desplegable li a {
    display: block;
    color: #FFFFFF; /* Color de texto blanco */
    text-decoration: none;
    padding: 8px 16px; /* Tamaño de ítem en el menú */
    background-color: #6D6D6C; /* Color secundario */
    transition: background-color 0.3s ease;
}

.menu-desplegable li a:hover {
    background-color: #C12D2D; /* Color principal en hover */
}

.menu-desplegable li:last-child a {
    border-bottom: none;
}

.divisor-desplegable {
    height: 1px;
    background-color: #C12D2D; /* Color principal para el divisor */
    margin: 0.5rem 0;
}
