/* App.css */

/* Estilos globales para la página */
main{
  padding-top: 120px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
  box-sizing: border-box;
  background-color: white; /* Color de fondo para evitar áreas blancas */
}

/* Estilos para la barra de desplazamiento en navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
  background: #777777; /* Fondo del área de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados del área de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #f5f5d6; /* Color del thumb de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados del thumb */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto de profundidad */
  transition: background 0.3s ease; /* Transición suave para el color del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f44336; /* Color del thumb cuando se pasa el mouse sobre él */
}

::-webkit-scrollbar-thumb:active {
  background: #d32f2f; /* Color del thumb cuando está activo (clicado) */
}

::-webkit-scrollbar-corner {
  background: #777777; /* Color de la esquina donde se cruzan las barras de desplazamiento */
}

/* Estilos adicionales para el contenedor principal */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor principal tenga al menos el 100% del alto de la ventana */
  background-color: #6D6D6C; /* Color de fondo para el contenedor principal */
}

/* Contenido principal */
main {
  flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
  background-color: #6D6D6C; /* Asegura que el fondo sea consistente */
}
